@font-face {
	font-family: 'Gilroy-Black'; 
	src: local('Gilroy-Black.ttf'),
		url(/fonts/Radomir\ Tinkov\ -\ Gilroy-Black.ttf); 
}

@font-face {
	font-family: 'Gilroy-Heavy'; 
	src: local('Gilroy-BlackItalic.ttf'),
		url(/fonts/Radomir\ Tinkov\ -\ Gilroy-Heavy.ttf); 
}

@font-face {
	font-family: 'Gilroy-Bold'; 
	src: local('Gilroy-Bold.ttf'),
		url(/fonts/Radomir\ Tinkov\ -\ Gilroy-Bold.ttf); 
}

@font-face {
	font-family: 'Gilroy-SemiBold'; 
	src: local('Gilroy-SemiBold.ttf'),
		url(public/fonts/Radomir_Tinkov-Gilroy_SemiBold.ttf); 
}