.footer p{
    color: white;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
    width: 100%;
    height: 100%;
}

body{
    background-color: #ffffff;
    font-family: 'Gilroy-Regular',Verdana;
}

.header-page_container{
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-page {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background: rgba(13, 2, 17, 0.911);
    overflow: hidden;
}

.header-page_start {
    padding: 4px;
    padding-left: 20px;
}

.header-page_end {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.header-page_ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-page_link {
    text-decoration: none;
    display: block;
    padding: 15px 30px;
    font-family: 'Gilroy-Regular',Verdana;
    font-size: 18px;
    font-weight: 900;
    position: relative;
    transition: color 2s;
    color: #ffffff;
}

.header-page_text {
    position: relative;
}

.header-page_link:hover::before{
    color: #ffffff;
    opacity: 1;
}

.header-page_link:hover{
    color: #000000;
}

footer {
    padding: 20px;
    text-align: center;
    clear:both;
    margin: auto;
    align-content: center;
    font-family: 'Gilroy-Regular',Verdana;
}


h1{
    padding: 10px;
    color:  rgba(135, 75,160)
}

.card h5{
    padding: 10px;
    color:  rgba(135, 75,160)
}

@media (min-width: 300px) {
    .header-page_link{
        padding: 12px 25px;
        font-size: 16px;
    }

    .header-page_link::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        background: #ffffff;
        width: 100%;
        height: calc(100% + 40px);
        transform: translateY(-50%);
        opacity: 0;
        transition: all 2s;
    }
}

@media (max-width:900px)  {
    .header-page_link{
        padding: 12px 10px;
        font-size: 12px;
    }

    .header-page_link::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        background: #ffffff;
        width: 100%;
        height: calc(90%);
        transform: translateY(-50%);
        opacity: 0;
        transition: all 2s;
    }
}